@import "variables";
@import "mixins";
@import "normalize";
@import "components/hamburgers/hamburgers";
@import "layout";
@import "Glyphter";

// /* Components */
// import "components/form_field";

// /* Sections */
// import "section/registration_form";

// /* Pages / Views */
// import "pages/registration";

// * {
//   border: 1px solid red;
// }

body {
  background-color: $bodyBackgroundColor;
  .pasek {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid $topbarBorderColor;
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbarHeight;
    right: 0;
    z-index: 1;
  }
}

/* Style page content */
.main {
  margin-top: $topbarHeight;
  margin-left: $sidebarWidth;
  padding: 20px;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: $sidebarWidth;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: $sidebarBackColor;
  overflow-x: hidden;
  .logo {
    display: flex;
    align-items: center;
    font-family: Reklame-Regular;
    font-size: 32px;
    color: $sidebarLogoColor;
    min-height: $topbarHeight;
    padding: 0px 0px 0px 20px;
    z-index: 999;
  }

  .glyphter {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: $sidebarForeColor;
    display: block;
    font-family: $paragraph-font;
    font-size: $paragraph-font-size;
    align-items: center;
    &:hover {
      color: $sidebarHoverForeColor;
      border-left: 4px solid $sidebarActiveBorder;
      padding-left: 12px;
      background-color: $sidebarHoverBackColor;
    }
  }

  .active {
    color: $sidebarHoverForeColor;
    border-left: 4px solid $sidebarActiveBorder;
    padding-left: 12px;
    background-color: $sidebarHoverBackColor;
  }
  .avatars {
    hr {
      height: 2px;
      background-color: $sidebarForeColor;
      border: none;
      margin-top: 32px;
    }

    h1 {
      color: $sidebarForeColor;
      font-family: $paragraph-font;
      font-size: 16px;
      padding: 20px 10px 10px 15px;
    }

    .avatar {
      width: 50px;
      min-height: 50px;
      border-radius: 50%;
      margin-left: 15px;
      background-image: url("../images/avatar.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-position-x: 1px;
      .status {
        position: absolute;
        margin: 0px 0px 0px 38px;
        width: 12px;
        min-height: 12px;
        border-radius: 50%;
        background: $avatarStatusActive;
      }
      .name {
        position: absolute;
        margin: -5px 0px 0px 45px;
        color: $avatarNameForeColor;
        font-size: 18px;
      }
    }
  }
}

/* The navigation bar */
.topbar {
  //   overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: $topbarHeight;
  right: 0;
  z-index: 1;

  .link {
    border-left: 1px solid $topbarBorderColor;
    float: right;
    height: 100%;
    display: flex;
    font-family: $paragraph-font;
    .status {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: -10px 0px 0px 10px;
      width: 10px;
      min-height: 10px;
      border-radius: 50%;
      background: $topbarNotificationWarningColor;
    }
    a {
      height: 100%;
      color: $topbarFontColor;
      display: flex;
      align-items: center;
      padding: 0px 20px 0px 25px;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        background: $topbarHoverBackColor;
        color: $topbarHoverForeColor;
      }
    }
    .icon-profile {
      color: $topbarProfileNameForeColor;
    }
    .icon-wallet {
      font-size: 25px;
    }
  }

  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    overflow: hidden;
    &:hover .dropdown-content {
      display: block;
    }
    &:hover .dropbtn {
      background-color: $topbarHoverBackColor;
      color: $topbarHoverForeColor;
    }
    .dropdown-content {
      display: none;
      margin-top: ($topbarHeight + 1);
      position: absolute;
      background-color: $topbarDropDownBackColor;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px $topbarDropDownShadowColor;
      z-index: 1;
    }
  }
}

.main-container {
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px $mainContainerShadowColor;
  h1 {
    font-family: $paragraph-font;
    font-weight: 5;
    color: $mainContainerFont1Color;
    margin: 0;
    padding: 0 0 0 20px;
    min-height: 50px;
    border-bottom: 1px solid $mainContainerBorderColor1;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .contents {
    .datePicker {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      border-bottom: 1px solid $mainContainerBorderColor1;
      .frame {
        border: 1px solid $mainContainerBorderColor1;
        border-radius: 3px;
        display: flex;
      }
      a {
        font-family: paragraph-font;
        text-decoration: none;
        color: black;
        padding: 0px 60px 0px 20px;
        font-size: 17px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:nth-of-type(2) {
        border-left: 2px solid $mainContainerBorderColor1;
        border-image: linear-gradient(
          to bottom,
          $mainContainerBorderColor2 15%,
          $mainContainerBorderColor3 15%,
          $mainContainerBorderColor3 90%,
          $mainContainerBorderColor2 90%
        );
        border-image-slice: 1;
      }
      .icon-calendar {
        padding-right: 0px;
      }
    }
    .btn {
      background-color: $generalTabButtonBackColor;
      border: none;
      color: $generalTabButtonForeColor;
      font-size: 15px;
      padding: 5px 3px 5px 12px;
      margin-left: 13px;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        background-color: $generalTabButtonBackColor2;
      }
    }
    .chart {
      max-width: 80%;
      margin: 0 auto;
      .chartData {
        // * {
        // border: 1px solid red; // }
        padding: 35px 0px 50px;
        display: flex;
        justify-content: center;
        .stats {
          height: 80px;
          display: flex;
          min-width: 60%;
          width: 100%;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          .stat {
            border-bottom: 1px solid $mainContainerBorderColor1;
            display: flex;
            min-width: 45%;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
              font-family: $paragraph-font;
            }
            .data {
              float: left;
              flex: 1;
              text-align: right;
            }
            .parameter {
              color: $mainContainerFont1Color;
              flex: 4;
              font-weight: 700;
            }
          }
        }
      }
      h2 {
        color: $sidebarForeColor;
        font-family: $paragraph-font;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
        margin: 0;
      }
      .legend {
        padding: 30px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        div {
          font-family: $paragraph-font;
          height: 40px;
          color: $mainContainerFont1Color;
          padding: 0 10px 0 0;
          display: flex;
          align-items: center;
          margin: 10px 20px;
          background-color: rgb(240, 240, 240);
          border-radius: 3px;
        }
        .legend-1 {
          .circle {
            fill: rgb(128, 191, 202);
          }
        }
        .legend-2 {
          .circle {
            fill: $generalTabButtonBackColor;
          }
        }
        .legend-3 {
          background-color: rgb(255, 255, 255);
          .circle {
            fill: rgb(89, 182, 109);
          }
        }
      }
      .svgchart {
        padding: 50px 0;
        display: flex;
        align-content: center;
        justify-content: center;
        .chartColumns {
          .col1 {
            fill: rgb(128, 191, 202);
          }
          .col2 {
            fill: $generalTabButtonBackColor;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 833px) {
  .sidenav {
    // height: 70px;
    overflow: hidden;
    width: 100%;
    position: relative;
    .avatars {
      padding-bottom: 20px;
    }
  }
  .main {
    margin: 0;
  }
  .topbar {
    position: relative;
    a {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .link {
      width: 100%;
      background-color: white;
      .status {
        margin: -10px 0px 0px 2px;
      }
    }
  }
  .pasek {
    display: none;
  }
}
// .hoverTable {
// width: 100%;
// border-collapse: collapse;
// .hoverTable td {
// padding: 7px;
// border: #2b2929 1px solid;
// }
// /* Define the default color for all the table rows */
// .hoverTable tr {
// background: #ffffff;
// }
// /* Define the hover highlight color for the table row */
// .hoverTable tr:hover {
// background-color: #ffff99;
// }
