@import "variables";
@import "mixins";
@import "normalize";
@import "components/hamburgers/hamburgers";
@import "layout";
@import "pages/links";
@import "pages/banners";
@import "pages/linksadd";
@import "pages/general";
@import "pages/postback";
@import "pages/personal_data";
@import "Glyphter";
@import 'https://code.highcharts.com/css/highcharts.css';

// /* Components */
// import "components/form_field";

// /* Sections */
// import "section/registration_form";

// /* Pages / Views */
// import "pages/registration";

// * {
//   border: 1px solid red;
// }

body {
  background-color: $bodyBackgroundColor;
  .pasek {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid $topbarBorderColor;
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbarHeight;
    right: 0;
    z-index: 1;
  }
}

/* Style page content */
.main {
  margin-top: $topbarHeight;
  margin-left: $sidebarWidth;
  padding: 20px;
  .non-active {
    display: none;
  }
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: $sidebarWidth;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: $sidebarBackColor;
  overflow-x: hidden;
  .logo {
    display: flex;
    align-items: center;
    font-family: Reklame-Regular;
    font-size: 32px;
    color: $sidebarLogoColor;
    min-height: $topbarHeight;
    padding: 0px 0px 0px 20px;
    z-index: 999;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      .glyphter {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: $sidebarForeColor;
        display: block;
        font-family: $paragraph-font;
        font-size: $paragraph-font-size;
        align-items: center;
        line-height: 2.1;
        &:before {
          margin-right: 10px;
        }
        &:hover {
          color: $sidebarHoverForeColor;
          border-left: 4px solid $sidebarActiveBorder;
          padding-left: 12px;
          background-color: $sidebarHoverBackColor;
        }
      }
      .active {
        color: $sidebarHoverForeColor;
        border-left: 4px solid $sidebarActiveBorder;
        padding-left: 12px;
        background-color: $sidebarHoverBackColor;
      }
    }
  }

  .avatars {
    padding-bottom: 20px;
    hr {
      height: 2px;
      background-color: $sidebarForeColor;
      border: none;
      margin-top: 32px;
    }

    h1 {
      color: $sidebarForeColor;
      font-family: $paragraph-font;
      font-size: 16px;
      padding: 20px 10px 10px 15px;
    }

    .avatar {
      width: 50px;
      min-height: 50px;
      border-radius: 50%;
      margin-left: 15px;
      background-image: url("../images/avatar.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-position-x: 1px;

      .status {
        position: absolute;
        margin: 0px 0px 0px 38px;
        width: 12px;
        min-height: 12px;
        border-radius: 50%;
        background: $avatarStatusActive;
      }
      .name {
        position: absolute;
        margin: -5px 0px 0px 45px;
        color: $avatarNameForeColor;
        font-size: 18px;
      }
    }
  }
}

/* The navigation bar */
.topbar {
  //   overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;

  height: ($topbarHeight)-1px;
  right: 0;
  z-index: 1;

  .link {
    border-left: 1px solid $topbarBorderColor;
    float: right;
    height: 100%;
    display: flex;
    font-family: $paragraph-font;
    .status {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: -10px 0px 0px 10px;
      width: 10px;
      min-height: 10px;
      border-radius: 50%;
      background: $topbarNotificationWarningColor;
    }
    a {
      height: 100%;
      color: $topbarFontColor;
      display: flex;
      align-items: center;
      padding: 0px 20px 0px 25px;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        background: $topbarHoverBackColor;
        color: $topbarHoverForeColor;
      }
    }
    .icon-profile {
      color: $topbarProfileNameForeColor;
    }
    .icon-wallet {
      font-size: 25px;
    }
  }

  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    overflow: hidden;
    &:hover .dropdown-content {
      display: block;
    }
    &:hover .dropbtn {
      background-color: $topbarHoverBackColor;
      color: $topbarHoverForeColor;
    }
    .dropdown-content {
      display: none;
      margin-top: ($topbarHeight + 1);
      position: absolute;
      background-color: $topbarDropDownBackColor;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px $topbarDropDownShadowColor;
      z-index: 1;
    }
  }
}

.main {
  .main-container {
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 0px $mainContainerShadowColor;
    h1 {
      font-family: $paragraph-font;
      font-weight: 5;
      color: $mainContainerFont1Color;
      margin: 0;
      padding: 0 0 0 20px;
      min-height: 50px;
      border-bottom: 1px solid $mainContainerBorderColor1;
      font-size: 18px;
      display: flex;
      align-items: center;
    }
  }
}
 

@media screen and (max-width: $Media850) {
  .sidenav {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .main {
    margin: 0;
  }
  .topbar {
    position: relative;
    a {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .link {
      width: 100%;
      background-color: white;
      .status {
        margin: -10px 0px 0px 2px;
      }
    }
  }
  .pasek {
    display: none;
  }
}
